// .content{
//     position:absolute;
//     width:100%;
//     height: 100%;
//     top:10%;
   
// }
// .left{
//     position: absolute;
//     left:0;
//     width: 50%;
//     background-color: white;
//     height: 100%;   
// }
// .company{
//     position:absolute;
//     top:49%;
//     left:45%;
// }
// .user{
//     position:absolute;
//     top:49%;
//     left:45%;
// }
// .right{
//     position: absolute;
//     right:0;
//     width: 50%;
//     background-color: red;
//     height: 100%;
    
// }
//Signup Company
.sign{
    position:absolute;
    width: 36%;
    left:5%;
    top:8%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
// Login Page Styling
.login{
    position:absolute;
    left:30%;
    top:30%;
    width: 45%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.backColor{
    position:absolute;
    background-color: #F1F1F1;
    width: 90%;
    height: 90%;
    top:5%;
    left:5%;
}
// right side
.side2{
    
    position:absolute;
    width: 50%;
    height: 100%;
    left:50%;

}