

//Signup Company
.sign{
    position:absolute;
    width: 36%;
    left:10%;
    top:8%;
    color: blue;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
// Login Page Styling
.login{
    position:absolute;
    left:13%;
    top:35%;
    width: 25%;
    color: blue;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.backColor{
    position:absolute;
    background-color: #F1F1F1;
    width: 90%;
    height: 90%;
    top:5%;
    left:5%;
    padding-bottom: 15px;
}
.side1{
    position:absolute;
    left:0;
    width: 50%;
    height: 100%;
    
    
}
.imgLogin{
    width: 100%;
    height: 100%;

}
.about{
    position:absolute;
    width: 80%;
    height: 80%;
    left:10%;
    top: 10%;
    color: blue;
    //background-color: white;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;


}
// right side
.side2{
    
    position:absolute;
    width: 50%;
    height: 100%;
    left:50%;
    top:0;
    
    // background-image: url('https://i.imgur.com/8N3EJbL.jpg')

}

.imgComp{
    width: 100%;
    height: 100%;
}

.imgUser{
    width: 100%;
    height: 75%;
    margin: 0 auto;
}

//Settings for Job Posting
.skills{
    position:absolute;
    width: 25%;
    height: 100%;
    right: 0;
    background-color: #c5d9f0;
    color: black;
    font-weight: bold;
}

.card{
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

//background image in job posting opacity and position settings
#logo{
    opacity: 0.3;
    position: absolute;
    top: 50%;
    left: 30%;
      
}

.description{
    position: absolute;
    width: 75%;
    padding:5px;
    top: 20%;
    color: grey
}

.city{
    position:absolute;
    left:0;
    bottom: 0;
    color: grey;
}

.rate{
    position:absolute;
    right: 35%;
    bottom: 0;
    color: green;
}

.hours{
    position:absolute;
    right: 55%;
    bottom: 0;
    color: gray;
}