.content{
    position:absolute;
    width:100%;
    height: 100%;
    top:10%;
   
}
.left{
    position: absolute;
    left:0;
    width: 50%;
    background-color: white;
    height: 100%;   
}
.company{
    position:absolute;
    top:49%;
    left:45%;
}
.user{
    position:absolute;
    top:49%;
    left:45%;
}
.right{
    position: absolute;
    right:0;
    width: 50%;
    background-color: red;
    height: 100%;
    
}
.sign{
    border-style: solid;
}